@page "/"

<h1>Website de Cuentas por Cobrar</h1>

Bienvenido a nuestro sitio web de cuentas por cobrar
<div></div>
Puede explorar nuestro menu de opciones que se muestra a la izquierda

<!--<SurveyPrompt Title="How is Blazor working for you?" />-->
